body {
	/* background-color: rgb(var(--color-E0C9A6)); */
	background-color: rgb(var(--color-3a3a3a));

	touch-action: none;
	-ms-touch-action: none;
	height: 100vh;
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.fixed-background {
	background-image: url(../../images/background.jpg);
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	filter: blur(4px) brightness(0.3);
}

.square {
	position: relative;
	width: 95vmin;
	/* border: solid red 5px; */
	box-sizing: border-box;
	height: 100vh;
}

.square:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.content {
	position: absolute;
	width: 100%;
	height: 100%;
	caret-color: transparent;
  background: repeating-linear-gradient(
    25deg,
    rgba(var(--color-f8d898), 0.3),
    rgba(var(--color-f8d898), 0.3) 1px,
    rgba(var(--color-f8d898), 0.5) 1px,
    rgba(var(--color-f8d898), 0.5) 10px
  ) #e8c080;
	padding: 0 30px;
}

div.buyer-refresh {
	opacity: 0;
}

[data-display-buyer-randomize-button]>div.buyer-refresh {
	opacity: 1;
}

#left-box-evolution-chain {
	opacity: 0;
}

#left-box-evolution-chain[data-show-that] {
	opacity: 1;
}

.header {
	display: flex;
	flex-flow: row;
	color: #FFCB05;
	margin-top: 20px;

	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #3466AF99;
}

.header-text {
	flex-basis: 100%;
}

.header-settings {
	position: absolute;
	right: 30px;
	width: 25px;
}

.header-qr {
	width: 25px;
	position: absolute;
	right: 70px;
}

.header-full-screen {
	width: 25px;
	position: absolute;
	right: 110px;
}
.header-full-screen > img {
	width: 25px;
	height: 25px;
}

#exp-container {
	border: 1px solid rgb(var(--color-3a3a3a));
	padding: 0.3%;
	flex: 1;
	height: 100%;
	margin-left: 30px;
	border-radius: 4px;
	position: relative;
}

#exp-bar {
	background: rgb(var(--color-479f57));
	width: 50%;
	height: 100%;
	min-height: 2px;
	border-radius: 3px;
	animation: bar-pulse 0.1s linear 4 forwards;
}

#exp-for-next-level {
	position: absolute;
	text-align: center;
	font-size: 80%;
	width: 100%;
	bottom: 10%;
}

#settings {
	display: flex;
	width: 25px;
	height: 25px;
	margin-left: auto;
}

.box-container {
	display: flex;
	flex-flow: row wrap;
	margin-top: 10px;
	font-size: 100%;
	/* height: 12%; */
	height: fit-content;
}

.box-container > div > div {
	padding: 5px 0;
}

.left-box {
	flex-basis: 100%;
	display: flex;
	flex-direction: column;
}

.left-box-level,
.left-box-current-gold,
.left-box-evolution-chain {
}

.left-box-level {
	display: flex;
	flex-flow: row;
}

.left-box-evolution-chain {
	font-size: 90%;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0;
}

#evolution-chain {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.evolution-chain-image-container {
	max-width: 7vmin;
	max-height: 7vmin;
	min-width: 7vmin;
	min-height: 7vmin;
}

#evolution-chain img {
	width: 100%;
}

.evolution-chain-border-current {
	border: 1px solid rgb(var(--color-cf4f2f));
	border-radius: 10px;
	border-style: dashed;
}

.right-box {
	/* display: flex; */
	display: none;
}

.right-box>div {
	flex-basis: 50%;
	width: fit-content;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 1em;
}

.backpack-grid {
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.backpack-grid>div,
.buyer-grid>div {
	border-radius: 8px;
	/* border-style: dotted; */
}

.grid-cell>div,
.right-box-pokeball>div,
.right-box-energy-bar>div {
	text-align: center;
}


.grid-cell[data-evolution-number]:after {
	content: "•";
	position: absolute;
	font-size: 95%;
	color: rgb(var(--color-3a3a3a));
	top: 8%;
	left: 5%;
}

.grid-cell[data-evolution-number="2"]:after {
	content: "••";
}

.grid-cell[data-evolution-number="3"]:after {
	content: "•••";
}

.grid-cell[data-evolution-number="4"]:after {
	content: "••••";
}

div[id^=backpack-cell-][data-evolution-number="4"] {
	border-color: #ff9900;
}

div[id^=backpack-cell-][data-evolution-number="4"]:after {
	content: "★★★";
	color: #ff9900;
}

div[data-identifier] div img {
	background-image: radial-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.02));
	background-size: 100% 33%;
	background-repeat: no-repeat;
	background-position: center;
	background-position-y: 107%;
}

img[src="./images/poke-ball.png"] {
	background-image: radial-gradient(rgba(222, 90, 58, 0.4), rgba(222, 90, 58, 0.01));
	background-size: 100% 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-position-y: 94%;
}

img[src="./images/great-ball.png"] {
	background-image: radial-gradient(rgba(58, 148, 255, 1), rgba(58, 148, 255, 0.01));
	background-size: 100% 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-position-y: 94%;
}

img[src="./images/ultra-ball.png"] {
	background-image: radial-gradient(rgba(255, 214, 58, 1), rgba(255, 214, 58, 0.01));
	background-size: 100% 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-position-y: 94%;
}

img[src="./images/master-ball.png"]:not(#backpack-icon) {
	background-image: radial-gradient(rgba(126, 9, 189, 1), rgba(251, 114, 163, 0.01));
	background-size: 100% 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-position-y: 94%;
}

[id^=buyer-]>.buyer-refresh {
	position: absolute;
	right: 0px;
	top: 0px;
	cursor: pointer;
	font-weight: 700;
	height: 0px;
	text-align: right;
	font-size: 120%;
	border: 0;
	right: 5%;
	top: 5px;
}

.grid-cell img {
	object-fit: fill;
	width: 100%;
	height: auto;
}

[id^=buyer-] {
	animation: quick-pulse 0.1s linear 4 forwards;
}

.header-text > h1 {
	animation: pokeball-shake 0.5s;
}

.pulse-text {
	animation: pulse-text 0.5s infinite;
}

.content > *:not(.pokemon-spinner-container) {
	visibility: hidden;
}

.content.content-loaded > *:not(.pokemon-spinner-container) {
	visibility: visible;
}

.content.content-loaded > .pokemon-spinner-container {
	pointer-events: none;
	filter: blur(1px);
	opacity: 0;
}

.pokemon-spinner-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	box-sizing: border-box;
	min-height: 100%;
	top: 0;
	position: absolute;
	left: 0;
	right: 0;
	transition: opacity 1.2s;
}

.qr-code-container {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	left: 0;
	top: 0;
}

.qr-code-container > img {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	top: 10%;
}

.pokemon-buff-container {
	position: absolute;
	aspect-ratio: 1;
	bottom: 0;
	border: 1px solid red;
	max-width: 10%;
	width: 7%;
}

@keyframes pulse-text {
	25% {
		color: red;
	}
	50% {
		color: yellow;
	}
	100% {
		color: red;
	}
}

.header-text > h1 > span {
	animation: header-pulse 0.1s linear 4 forwards;
}

@keyframes header-pulse {
	25% {
    -webkit-text-stroke-color: #ff0000;
	}
	50% {
    -webkit-text-stroke-color: #ff6600;
	}
	100% {
    -webkit-text-stroke-color: #3466AF99;
	}
}

@keyframes quick-pulse {
	25% {
		box-shadow: 0 0 4px #ff6600;
		border-color: #ff6600;
	}
	50% {
		box-shadow: 0 0 4px #ff0000;
		border-color: #ff0000;
	}
	25% {
		box-shadow: 0 0 4px #ff6600;
		border-color: #ff6600;
	}
}

@keyframes bar-pulse {
	25% {
		box-shadow: 0 0 4px #eeff00;
		border-color: #eeff00;
	}
	50% {
		box-shadow: 0 0 4px rgb(var(--color-ffffee));
		border-color: rgb(var(--color-ffffee));
	}
	25% {
		box-shadow: 0 0 4px #eeff00;
		border-color: #eeff00;
	}
}

.image-container {
	position: inherit;
	width: 100%;
	height: 100%;
}

.text-container {
	text-align: center;
	font-weight: 700;

	color: rgb(var(--color-3a3a3a));
	font-size: 70%;
	/* background-color: #00000033; */
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #00000022;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 80%;
}

.occupy-center.second-center-text {
	font-size: 60%;
	font-weight: normal;
	-webkit-text-stroke-width: 0;
}


@media only screen {
	.square {
		width: 100vmin;
	}
}

[id^=backpack-cell-]:not([data-identifier]) {
	background-color: #0000;
}

[id^=backpack-cell-]:not([data-identifier]),
[id^=backpack-cell-]:not([data-identifier])>img {
	cursor: help;
}

img[src$="-ball.png"]:not(#backpack-icon) {
	opacity: 0.5;
	transition: opacity 0.2s;
}

img[src$="-ball.png"]:not(#backpack-icon):hover {
	opacity: 1;

	animation: pokeball-shake 0.5s;
	animation-iteration-count: linear;
}

img[src] {
	image-rendering: pixelated;
}

.pixelated {
	image-rendering: pixelated;
}

.buyer-header {
	margin-top: 0%;
	margin-bottom: 1%;
}

.buyer-header > img {
	width: 3%;
	margin-left: 1%;
}

.backpack-header {
	margin-top: 3%;
	margin-bottom: 1%;
}

.backpack-header > img {
	margin-left: 1%;
	width: 3%;
}

img#backpack-icon[src="./images/master-ball.png"] {
	animation: pokeball-shake 0.5s infinite;
}

.selected-cell {
	background-color: rgba(var(--color-f7df6f), 0.9) !important;
}

.grid-cell.highlight-border {
	border-color: rgba(var(--color-f7df6f), 0.9) !important;
}

#floating-image {
	position: fixed; pointer-events: none; opacity: 0.5; z-index: 1;
}

#floating-image ~ #buyers-grid [id^=buyer-].highlight-border,
#floating-image ~ #buyers-grid [id^=buyer-].highlight-border > div,
#floating-image ~ #buyers-grid [id^=buyer-].highlight-border > div > img {
	cursor: cell;
}

#floating-image ~ #buyers-grid [id^=buyer-]:not(.highlight-border),
#floating-image ~ #buyers-grid [id^=buyer-]:not(.highlight-border) > div,
#floating-image ~ #buyers-grid [id^=buyer-]:not(.highlight-border) > div > img {
	cursor: not-allowed;
}

#floating-image ~ #backpack-grid [id^=backpack-cell-].highlight-border:not(.selected-cell),
#floating-image ~ #backpack-grid [id^=backpack-cell-].highlight-border:not(.selected-cell) > div,
#floating-image ~ #backpack-grid [id^=backpack-cell-].highlight-border:not(.selected-cell) > div > img {
	cursor: cell;
}

img {
	cursor: pointer;
}

#encounter-container {
	position: fixed;
	bottom: 0;
	color: rgb(var(--color-ffffee));
	background-color: rgb(var(--color-3a3a3a));
	width: 100%;
	padding: 5px 10px;
	left: 0;
	right: 0;
	text-align: center;
}

#spinning-box {
	position: absolute;
	--border-angle: 0turn;
	width: 100%;
	height: 100%;
	background-image:
		conic-gradient(from var(--border-angle), transparent 10%, #0000, #f904);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	/* animation: bg-spin 1s linear infinite; */
	animation: bg-spin 1s linear 4 forwards;
}

.display-none {
	display: none;
}

.inline-block {
	display: inline-block;
}

.grid-cell {
	border: 4px dashed rgb(var(--color-a76f47));
	cursor: pointer;
	background-color: rgba(var(--color-f79f4f), 0.9);
	justify-content: center;
	max-height: 100%;
	position: relative;
	max-width: 55%;
	aspect-ratio: 1;
	justify-self: center;
	min-height: 10vmin;
	max-height: 10vmin;
	min-width: 10vmin;
}

.grid-cell[data-pokemon-id] {
	border-style: solid;
}

.grid-cell[data-evolution-number="4"] {
	border-style: solid;
}

@keyframes bg-spin {
	to {
		--border-angle: 1turn;
	}
}

@property --border-angle {
	syntax: "<angle>";
	inherits: true;
	initial-value: 0turn;
}

.header-full-screen > .icon-full {
	display: inline;
}

.header-full-screen > .icon-un-full {
	display: none;
}

#pokemerge-brand {
	font-size: 100%;
}

@media (display-mode: fullscreen) {

	.header-full-screen > .icon-full {
		display: none;
	}
	
	.header-full-screen > .icon-un-full {
		display: inline;
	}
}

@media (max-aspect-ratio: 4/3) {
	.grid-cell {
		max-width: 55%;
	}
}

@media (max-aspect-ratio: 1) {
}


@media (max-aspect-ratio: 3/4) {
	.grid-cell {
		max-width: 85%;
	}
}

@media (max-width: 1024px) {
	:root {
		font-size: 10px;
	}

	.grid-cell {
    min-height: 10vmin;
    max-height: 10vmin;
    min-width: 10vmin;
		border-width: 3px;
	}
}
/* IPAD MINI */
@media (max-width: 768px) {
	.grid-container {
    gap: 0.25em;
	}
}

@media (max-width: 540px) {
	:root {
		font-size: 8px;
	}

	.content {
		padding: 0 20px;
	}

	.grid-cell {
    min-height: 13.5vmin;
    max-height: 13.5vmin;
    min-width: 13.5vmin;
		border-width: 3px;
	}
}

/* GALAXY SIII */
@media (max-width: 360px) {
	:root {
		font-size: 8px;
	}

	.grid-cell {
    min-height: 16vmin;
    max-height: 16vmin;
    min-width: 16vmin;
	}
}

@media (width: 1024px) and (height: 1366px) {
	:root {
		font-size: 20px;
	}

	.grid-cell {
    min-height: 15vmin;
    max-height: 15vmin;
    min-width: 15vmin;
	}
}

@media (width: 1024px) and (height: 1366px) {
	:root {
		font-size: 20px;
	}

	.grid-cell {
    min-height: 14.5vmin;
    max-height: 14.5vmin;
    min-width: 14.5vmin;
	}
}

@media (width: 768px) and (height: 1024px) {
	:root {
		font-size: 18px;
	}

	.grid-cell {
    min-height: 13.5vmin;
    max-height: 13.5vmin;
    min-width: 13.5vmin;
	}
}

@media (width: 375px) and (height: 667px) {
	:root {
		font-size: 8px;
	}

	.grid-cell {
    min-height: 16vmin;
    max-height: 16vmin;
    min-width: 16vmin;
	}
}