.header-close-button {
	font-weight: bold;
}

#settings-dialog {
	left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
	border-radius: 8px;
	/* border: 4px solid rgb(var(--color-a76f47)); */
	/* border-bottom: 0px; */
	background-color: #0000;
	background-image: url(../../images/settings-background.png);
	background-size: cover;
	/* background-attachment: fixed; */
	background-repeat: no-repeat;
	aspect-ratio: 6.2/9;
	background-position-y: 1px;
	border: 5px solid #7ab8c0;
	border-style: double;
	color: #fff;
	min-width: 300px;
}
#settings-dialog form {
	height: 100%;
	background: #000a;
}

#settings-dialog > form > div.options {
	padding: 30px;
}
	

#settings-dialog::backdrop {

	background-image: url(../../images/lechonk-wallpaper.png);
	background-attachment: fixed;
	background-repeat: repeat;
	filter: opacity(0.9) brightness(0.15) grayscale(0.9) blur(2px);
}

.settings-header {
}

.header-close-button {
	margin-left: auto;
	vertical-align: top;
	right: 30px;
	position: absolute;
}

.settings-items-container {
	padding: 20px 5px 4px 5px;
}

.settings-item-container {
	padding: 4px 5px;
	width: fit-content;
	border-radius: 6px;
}

.journal-link-container {
	margin-top: 10%;
	border: 1px solid #fff;
}

.leaderboard-link-container {
	margin-top: 10%;
	border: 1px solid #fff;
}

.reset-container {
	background: rgb(var(--color-cf4f2f));
	color: rgb(var(--color-f7df6f));
	margin-top: 10%;
}

#journal-button,
#journal-button:visited,
#journal-button:hover,
#journal-button:active {
	color: inherit;
	text-decoration: none;
	border-width: 0;
	outline: none;
}

#leaderboard-button,
#leaderboard-button:visited,
#leaderboard-button:hover,
#leaderboard-button:active {
	color: inherit;
	text-decoration: none;
	border-width: 0;
	outline: none;
}

.settings-content > .vibrate-container {
	margin-top: 10%;
	border: 0;
}

.share-session-container {
	margin-top: 10%;
	padding-left: 0;
}

.share-session-button {
	border: 1px solid #fff;
	padding: 4px 5px;
	border-radius: 6px;
	width: fit-content;
	margin-bottom: 10px;
}

#share-session-status {
	margin-left: 5px;
}

.share-session-container.is-sharing-session > .share-session-button {
	border-color: transparent;
}

.session-saving-success {
	color: rgb(var(--color-9fcf7f));
}

.session-saving-error {
	color: rgb(var(--color-cf4f2f));
}

.settings-content > .nickname-container {
	margin-top: 10%;
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 0;
}

#nickname {
	padding: 4px 5px;
	width: 65%;
	font-size: 80%;
	margin-left: auto;
	border-radius: 6px;
	font-family: 'Press Start 2P', cursive;
}

.reset-progress-animation {
	background: linear-gradient(to right, rgb(var(--color-3a3a3a)) 0%, rgb(var(--color-cf4f2f)) 50%, rgb(var(--color-cf4f2f)) 100%);
	width: 100%;
	background-size: 200% auto;
	background-position: 0 100%;
	animation: red-gradient 4s linear;
}

@keyframes red-gradient {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -100% 0;
	}
}



@media (max-width: 720px) {
	#nickname {
			padding: 4px 5px;
			font-size: 100%;
	}
}