body {
	background-color: rgb(var(--color-0F0F1B));
}

.container {
	max-width: 1440px;
	background-color: rgba(var(--color-3a3a3a));
	margin: 0 auto;
	height: 100vh;
	overflow: hidden;
}

.header {
	background-color: red;
	height: 60px;
	padding: 10px 20px;
	display: flex;
	align-items: center;
}

.header-text {
	margin-left: 2%;
	color: #fff;
}

.content {
	background-color: #292929;
	height: 40px;
	padding: 40px 30px;
	height: calc(100vh - 60px);
	overflow: hidden auto;
}

#pokemon-grid {
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#pokemon-grid:not(.display-none) ~ .pokemon-spinner-container {
	/* display: none; */
	pointer-events: none;
	filter: blur(1px);
	opacity: 0;
}

.cell {
	position: relative;
	aspect-ratio: 1;
	cursor: pointer;
}

.cell:hover .pokemon-name-container {
	display: flex;
}

#pokemon-grid img {
	object-fit: cover;
	overflow: hidden;
	box-sizing: border-box;
	height: auto;
	max-width: 100%;
	border-radius: 8%;
	position: relative;
}

.pokemon-name-container {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 1;
	pointer-events: none;
}

.pokemon-name {
	width: 100%;
	text-align: center;
	background: rgba(0, 0, 0, 0.2);
	color: #fff;
	padding: 20px 0;
	font-size: 60%;
}

.cell {
	filter: blur(5px) opacity(0);
	visibility: hidden;
}

.cell.show-image.image-is-loaded {
	filter: blur(0) opacity(1);
	visibility: visible;
	transition: opacity 1s, filter 0.8s;
}

.pokemon-image {

	height: 100%;
	box-sizing: border-box;
	max-width: 100%;
	max-height: 100%;
	width: 100%;
}

.pokemon-data {
	position: absolute;
	bottom: 0;
	height: 50%;
}

#full-screen-detail {
	display: none;
}

#full-screen-detail.full-screen {
	display: flex;
}

.full-screen {
	position: fixed;
	animation: go-full-screen forwards 250ms ease-in-out;
	inset: var(--inset);
	z-index: 10;
	max-width: 1440px;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.full-screen-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#image-container {
	text-align: center;
}

#image-container img {
	max-width: 40%;
}

.details {

	background-color: #292929;
	flex: 1;
	padding: 20px;
	color: #fff;
}

#display-name {
	text-align: center;
	padding: 3% 0;
	font-size: 175%;
}

#types {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3%;
}

.pokemon-type-box {
	padding: 1% 2%;
	border-radius: 6px;
}

.appearance {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3%;
	margin-top: 3%;
}

.appearance>div {
	padding: 1% 2%;
}

.height-value {
	text-align: center;
}

.weight-value {
	text-align: center;
}

.height-label,
.weight-label {
	color: #696969;
	font-size: 75%;
	text-align: center;
}

#flavor-text {
	text-align: center;
	font-style: italic;
	padding: 4% 0;
}

#evolution-chain img {
	max-width: 5%;
	filter: grayscale(1);
}

#evolution-chain img.discovered {
	filter: grayscale(0);
}

#evolution-chain {
	text-align: center;
}

.pokemon-image {
	filter: grayscale(1);
}

.pokemon-image.discovered {
	filter: grayscale(0);
}

.not-yet-discovered .details .discovered-details {
	display: none;
}

.not-yet-discovered #types {
	display: none;
}

.full-screen-back-button {
	position: absolute;
	left: 2%;
	top: 1%;
	width: 40px;
}

#date-discovered {
	text-align: center;
	font-size: 60%;
	font-style: italic;
	padding: 1% 0;
}

.full-screen-container>img {
	width: 50%;
}


.shrink-down {
	animation: go-full-screen reverse backwards 250ms ease-in-out !important;
}

#full-screen-detail.full-screen~#pokemon-grid {
	/* display: none; */
	visibility: hidden;
}

.parent:hover .child
{
    display: block;

    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
}

.search-box {
	margin-left: auto;
}

#pokemon-names-input {
	padding: 0 10px;
}

@-webkit-keyframes pokemon-grid-fade-in {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 720px) {
	:root {
		font-size: 13px;
	}

	#image-container img {
		max-width: 80%;
	}
}

@media (max-width: 600px) {
	:root {
		font-size: 11px;
	}

	#image-container img {
		max-width: 100%;
	}
}

@keyframes go-full-screen {
	from {
		inset: var(--inset);
		opacity: 0;
	}

	to {
		height: 100%;
		width: 100%;
		inset: 0;
		opacity: 1;
	}
}


@media (max-width: 1024px) {
	#pokemon-grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
}