<div class="full-screen-container">
	<div id="image-container"></div>
	<div class="details">

		<div id="display-name"></div>
		<div id="types"></div>
		<div class="appearance discovered-details">
			<div class="height">
				<div id="height-value"></div>
				<div class="height-label">Height</div>
			</div>
			<div class="weight">
				<div id="weight-value"></div>
				<div class="weight-label">Height</div>
			</div>
		</div>
		<div id="flavor-text" class="discovered-details"></div>
		<div id="date-discovered"></div>
		<div id="evolution-chain"></div>
	</div>
</div>
<img src="./images/arrow-back.svg" class="full-screen-back-button arrow-back" alt="Go back" onclick="unFullScreen()" />