<div class="full-screen-container">
	<div id="image-container"></div>
	<div class="details">

		<div id="display-name"></div>
		<div id="types"></div>
		<div class="appearance">
			<div class="height">
				<div id="height-value">1.6 M</div>
				<div class="height-label">Height</div>
			</div>
			<div class="weight">
				<div id="weight-value">94 KG</div>
				<div class="weight-label">Height</div>
			</div>
		</div>
		<div id="flavor-text"></div>
		<div id="date-discovered"></div>
		<div id="evolution-chain"></div>
	</div>
</div>
<img src="./images/arrow-back.svg" style="
		
		width: 40px; cursor: pointer;" class="full-screen-back-button arrow-back" alt="Go back" onclick="unFullScreen()" />