<audio id="click-sound" src="./mp3/click-sound.mp3?v=1" data-sound-type="effects"></audio>
<audio id="gold-sound" src="./mp3/gold-sound.mp3?v=2" data-sound-type="effects"></audio>
<audio id="coin-sound" src="./mp3/pokeball-a-button-sound.mp3?v=1" data-sound-type="effects"></audio>
<audio id="level-up-sound" src="./mp3/level-up.mp3?v=1" data-sound-type="effects"></audio>
<audio id="shuffle-sound" src="./mp3/shuffle.mp3?v=2" data-sound-type="effects"></audio>
<audio id="plus-sound" src="./mp3/plus.mp3?v=1" data-sound-type="effects"></audio>
<audio id="pokeball-open-sound" src="./mp3/pokeball-open-sound.mp3?v=2" data-sound-type="effects"></audio>

<audio id="page-bgm" src="./mp3/pokemon-theme.mp3?v=1" preload data-sound-type="bgm"></audio>
<audio id="pokemon-encounter" src="./mp3/pokemon-encounter.mp3" preload data-sound-type="bgm"></audio>
<audio id="magikarp-song" src="./mp3/magikarp-song.mp3" preload data-sound-type="bgm"></audio>

<div id="audio-cries">
</div>