<audio id="click-sound" src="./mp3/click-sound.mp3?v=1"></audio>
<audio id="gold-sound" src="./mp3/gold-sound.mp3?v=2"></audio>
<!-- <audio id="coin-sound"
		src="./mp3/coin-sound.mp3?v=1"></audio> -->
<audio id="coin-sound" src="./mp3/pokeball-a-button-sound.mp3?v=1"></audio>
<audio id="level-up-sound" src="./mp3/level-up.mp3?v=1"></audio>
<audio id="shuffle-sound" src="./mp3/shuffle.mp3?v=2"></audio>
<audio id="plus-sound" src="./mp3/plus.mp3?v=1"></audio>
<!-- <audio id="pokeball-open-sound"
		src="./mp3/pokeball-open.mp3?v=1"></audio> -->
<audio id="pokeball-open-sound" src="./mp3/pokeball-open-sound.mp3?v=2"></audio>
<audio id="page-bgm" src="./mp3/pokemon-theme.mp3?v=1" preload></audio>
<audio id="pokemon-encounter" src="./mp3/pokemon-encounter.mp3" preload></audio>
<audio id="magikarp-song" src="./mp3/magikarp-song.mp3" preload></audio>

<div id="audio-cries">
</div>