<div class="left-box">
	<div class="left-box-level">
		<div style="display: inline-block">
			<span>Level <span id="current-level">0</span></span>
		</div>

		<div id="exp-container">
			<div id="exp-bar"></div>
			<div id="exp-for-next-level">(0 / 10)</div>
		</div>
	</div>
	<div class="left-box-current-gold"><strong>Gold: <span id="current-gold">0</span></strong></div>
	<div class="left-box-evolution-chain" id="left-box-evolution-chain">
		<div class="evolution-chain-label"><strong>Evolution Chain: </strong></div>
		<div id="evolution-chain">&nbsp;</div></div>
</div>