
<div class="qr-code-container display-none" onclick="hideQr()">
	<img src="./images/qr-code.svg"/>
</div>
<div class="header-text">
	<h1>
		<span id="pokemerge-brand">PoKeMerge</span>
	</h1>
</div>
<div class="header-settings" onclick="openSettings()" title="Click to open Settings">
	<img id="settings" class="pokeball-shake"
		src="./images/explorer-kit.png"
		class="pixelated" />
</div>
<div style="
width: 25px;
position: absolute;
right: 50px;"  onclick="showQr()" title="Click to show QR Code">
<img src="./images/qr-code.svg" style="
width: 25px;
height: 25px;"/>
</div>